body {
    font-family: Terminal, sans-serif;
    font-size: 12px;
    color: aliceblue;
    background-color: black;
}

h1 {
    text-align: center;
    
}

#fox {
    float: right;
 
    
    
    
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: chocolate;
   color: black;
   text-align: center;
    
}